.container {
  width: auto;
  /* margin: auto; */
  float: left;
  padding-bottom: 5px;
}
.label {
  width: auto;
  text-transform: capitalize;
}
.moves {
  width: 130px !important;
}
.content {
  width: auto;
  color: rgba(0, 0, 0, 0.7);
  padding-left: 20px;
  font-size: 15px;
}
.flex {
  display: flex;
}
.fieldMoves {
}
